@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
}

.swiper-slide {
    background-color: slateblue;
    width: 500px !important;
    height: 200px !important;
}


