@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
    background-color: #fff;
}

.font-size-h {
  font-size: clamp(1.5rem, 3vw, 2.5rem );
  line-height: normal;
}

.font-size-p {
  font-size: clamp(0.75rem, 2.5vw, 1.1rem);
}

.pagination .swiper-pagination-bullet {
  
  width: 10px;
  height: 10px;
  transition: all;
  transition-duration: 300ms;
    
  }

  .pagination .swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    background-color: #ef2828 !important; 
    
  }
   /* VALID CLASSES  */

  
  .custom-swiper-width {
    width: clamp(200px, 90vw, 45rem);
  }

  .property-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    transition: all;
    transition-duration: 300ms;

  }
  .property-pagination .swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    background-color: #ef2828 !important; 
  }

  .property-pagination .swiper-pagination-bullet:hover {
    width: 14px;
    height: 14px;
    background-color: #ef2828 !important; 
    opacity: 1;
  }


  .testimonial-wrapper .swiper {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .featured-listing .swiper {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  
  .testimonial-wrapper .swiper {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .property-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  

  .myProperty-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    transition: all;
    transition-duration: 300ms;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);

  } 
  .mProperty-pagination .swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    background-color: #ef2828 !important; 
  }

  .myProperty-pagination .swiper-pagination-bullet:hover {
    width: 14px;
    height: 14px;
    background-color: #ef2828 !important; 
    opacity: 1;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; /* Example background color */
    border-color: inherit; /* Inherit border color */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* .property-slide .swiper-slide {
  width: 60%;
}

.property-slide .swiper-slide:nth-child(2n) {
  width: 40%;
}

.property-slide .swiper-slide:nth-child(3n) {
  width: 20%;
} */

